.textareas {
    display: flex;
    justify-content: space-between;
    
    margin-top: 20px;
}

@media screen and (max-width:1300px) {
    .textareas{
        justify-content: space-evenly;
        flex-wrap: wrap;
        
    }
    .input-group{
        width: 100%;
        /* background-color: black; */

    }
    .infos{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        overflow: hidden;
    }
    .input-group-prepend{

        /* width: 10 */
        display: flex;
        align-items: center;
        justify-content: center;
        /* text-align: center; */
    }
    .input-group-text{
        width:max-content;
        text-align: center;
        overflow: hidden;
    }
    
}
.input-group {
    width: 20%;
}

.input-group-text {
    background-color: #EAE4F2;
}

.submitbutton {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sbmtbtn {
    width: 200px;
    border: 2px solid #674FA3;
    background-color: transparent;
    padding: 4px 8px;
    border-radius: 5px;
    color: #674FA3;
    cursor: pointer;
    margin-bottom: 20px;
}

.map {
    width: 100%;
    height: 80vh;
    border-radius: 20px;

    /* background: url('../images/laptop-black-realistic.png');
    background-size:100% 100%;
    
    background-repeat: no-repeat; */
}

.inpw {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.infos {
    display: flex;
    justify-content: center;
    align-items: center;

}

.abcf {
    background-image: -webkit-linear-gradient(92deg, #674FA3, rgb(229, 200, 229));
    background-color: linear-gradient(92deg, #674FA3, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
    
    background-clip: text;
    animation: hue 20s infinite linear;
}
@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
    to {
      -webkit-filter: hue-rotate(-360deg);
    }
  }
  @keyframes hue{
    from{
      filter : hue-rotate(0deg);
    }
    to{
      
        filter: hue-rotate(-360deg);
      
    }
  }

  